<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wayn.admin.api.mapper.shop.GoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="ShopGoodsResult" type="com.wayn.admin.api.domain.shop.Goods">
        <result column="id"                 property="id" />
        <result column="goods_sn"           property="goodsSn" />
            <result column="name"           property="name" />
        <result column="category_id"        property="categoryId" />
        <result column="brand_id"           property="brandId" />
        <result column="gallery"            property="gallery" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="keywords"           property="keywords" />
        <result column="brief"              property="brief" />
        <result column="is_on_sale"         property="isOnSale" />
        <result column="sort_order"         property="sortOrder" />
        <result column="pic_url"            property="picUrl" />
        <result column="share_url"          property="shareUrl" />
        <result column="is_new"             property="isNew" />
        <result column="is_hot"             property="isHot" />
        <result column="unit"               property="unit" />
        <result column="counter_price"      property="counterPrice" />
        <result column="retail_price"       property="retailPrice" />
        <result column="detail"             property="detail" />
        <result column="create_time"        property="createTime" />
        <result column="update_time"        property="updateTime" />
        <result column="del_flag"           property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="selectGoodsVo">
        select id,
        goods_sn, name, category_id, brand_id, gallery, keywords, brief, is_on_sale, sort_order, pic_url, share_url, is_new, is_hot, unit, counter_price, retail_price, detail, create_time, update_time, del_flag
        from shop_goods
    </sql>

    <select id="selectGoodsListPage" resultMap="ShopGoodsResult">
        <include refid="selectGoodsVo"/>
        <where>
            del_flag = 0
            <if test="goods.id != null">
                AND id like concat('%', #{goods.id}, '%')
            </if>
            <if test="goods.goodsSn != null and goods.goodsSn != ''">
                AND goods_sn like concat('%', #{goods.goodsSn}, '%')
            </if>
            <if test="goods.name != null and goods.name != ''">
                AND name like concat('%', #{goods.name}, '%')
            </if>
            <if test="goods.startTime != null and goods.startTime != ''">
                AND DATE_FORMAT(create_time,'%Y-%m-%d') <![CDATA[ >= ]]> DATE_FORMAT(#{goods.startTime},'%Y-%m-%d')
            </if>
            <if test="goods.endTime != null and goods.endTime != ''">
                AND DATE_FORMAT(create_time,'%Y-%m-%d') <![CDATA[ <= ]]> DATE_FORMAT(#{goods.endTime},'%Y-%m-%d')
            </if>
            order by create_time desc
        </where>
    </select>
</mapper>
