<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wayn.mobile.api.mapper.SearchHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="SearchHistoryResult"     type="com.wayn.mobile.api.domain.SearchHistory">
        <result column="id"                 property="id" />
        <result column="user_id"            property="userId" />
        <result column="keyword"            property="keyword" />
        <result column="from"               property="from" />
        <result column="has_goods"          property="hasGoods" />
        <result column="create_time"        property="createTime" />
        <result column="update_time"        property="updateTime" />
        <result column="del_flag"           property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="selectSerchHistoryVo">
        select id,
        user_id, keyword, from, create_time, has_goods,  update_time, del_flag
        from search_history s
    </sql>

    <select id="selectSeachHistoryList" resultMap="SearchHistoryResult">
        <include refid="selectSerchHistoryVo"/>
        <where>
            s.del_flag = 0
            and s.user_id = #{memberId}
        </where>
    </select>

    <select id="selectHostList" resultMap="SearchHistoryResult">
        SELECT
            keyword,
            COUNT( keyword ) AS num
        FROM
            shop_search_history
        WHERE
            has_goods = 1
        GROUP BY
            keyword
        ORDER BY
            num DESC
            LIMIT 10
    </select>
</mapper>
