<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wayn.common.core.mapper.shop.CategoryMapper">

	<resultMap type="com.wayn.common.core.domain.shop.Category" id="ShopCategoryResult">
		<result property="id"         	column="id"   			/>
		<result property="name"   		column="name"   		/>
		<result property="keywords" 	column="keywords"  		/>
		<result property="pid"  		column="pid"   			/>
		<result property="iconUrl" 		column="icon_url"  		/>
		<result property="picUrl" 		column="pic_url"   		/>
		<result property="level" 		column="level"   		/>
		<result property="sort" 		column="sort"   	/>
		<result property="delFlag"     	column="del_flag"   	/>
		<result property="createTime" 	column="create_time" 	/>
		<result property="updateTime" 	column="update_time" 	/>
		<result property="remark" 		column="remark" 	/>
	</resultMap>

	<sql id="selectCategoryVo">
        select c.id, c.name, c.keywords, c.pid, c.icon_url,
        c.pic_url, c.level,c.sort, c.del_flag,
        c.create_time, c.update_time, c.remark
        from shop_category c
    </sql>

	<select id="selectCategoryList" parameterType="com.wayn.common.core.domain.shop.Category" resultMap="ShopCategoryResult">
        <include refid="selectCategoryVo"/>
        <where>
			del_flag = 0
			<if test="name != null and name != ''">
				AND name like concat('%', #{name}, '%')
			</if>
			<if test="id != null">
				AND id = #{id}
			</if>
			order by pid asc, sort asc
		</where>
    </select>

</mapper>
