<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wayn.common.core.mapper.shop.ChannelMapper">

	<resultMap type="com.wayn.common.core.domain.shop.Channel" id="ShopChannelResult">
		<result property="id"         	column="id"   			/>
		<result property="name"       	column="name"   		/>
		<result property="code"       	column="code"   		/>
		<result property="remark"      	column="remark"   		/>
		<result property="createTime" 	column="create_time" 	/>
		<result property="updateTime" 	column="update_time" 	/>
	</resultMap>

	<sql id="selectChannelVo">
        select c.id, c.name, c.code, c.remark,
        c.create_time, c.update_time
        from shop_channel c
    </sql>
    
	<select id="selectChannelList" parameterType="com.wayn.common.core.domain.shop.Channel" resultMap="ShopChannelResult">
        <include refid="selectChannelVo"/>
        <where>
			<if test="name != null and name != ''">
				AND name like concat('%', #{name}, '%')
			</if>
			<if test="code != null and code != ''">
				AND code like concat('%', #{code}, '%')
			</if>
			<if test="startTime != null and startTime != ''">
				and DATE_FORMAT(create_time,'%Y-%m-%d') <![CDATA[ >= ]]> DATE_FORMAT(#{startTime},'%Y-%m-%d')
			</if>
			<if test="endTime != null and endTime != ''">
				and DATE_FORMAT(create_time,'%Y-%m-%d') <![CDATA[ <= ]]> DATE_FORMAT(#{endTime},'%Y-%m-%d')
			</if>
		</where>
    </select>
    
</mapper>