<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wayn.common.core.mapper.shop.ColumnGoodsRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wayn.common.core.domain.shop.ColumnGoodsRelation">
        <result column="id"         property="id" />
        <result column="column_id"  property="columnId" />
        <result column="goods_id"   property="goodsId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        select id,
        column_id, goods_id
        from shop_column_goods_relation
    </sql>
    <select id="getGoodsNum" resultType="java.lang.Integer">
        SELECT count(1)
        FROM (SELECT COUNT(1) FROM shop_column_goods_relation WHERE column_id = #{columnId} GROUP BY goods_id) a
    </select>

</mapper>
