<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wayn.common.core.mapper.shop.ColumnMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="ShopColumnResult" type="com.wayn.common.core.domain.shop.Column">
        <result column="id"             property="id" />
        <result column="sort"           property="sort" />
        <result column="name"           property="name" />
        <result column="create_time"    property="createTime" />
        <result column="update_time"    property="updateTime" />
        <result column="del_flag"       property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="selectColumnVo">
        select id,
        sort, name, create_time, update_time,del_flag from shop_column
    </sql>
    <select id="selectColumnListPage" resultMap="ShopColumnResult">
        <include refid="selectColumnVo"/>
        <where>
            del_flag = 0
            <if test="column.name != null and column.name != ''">
                AND name like concat('%', #{column.name}, '%')
            </if>
            <if test="column.startTime != null and column.startTime != ''">
                and DATE_FORMAT(create_time,'%Y-%m-%d') <![CDATA[ >= ]]> DATE_FORMAT(#{column.startTime},'%Y-%m-%d')
            </if>
            <if test="column.endTime != null and column.endTime != ''">
                and DATE_FORMAT(create_time,'%Y-%m-%d') <![CDATA[ <= ]]> DATE_FORMAT(#{column.endTime},'%Y-%m-%d')
            </if>
        </where>
    </select>

</mapper>
