<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wayn.common.core.mapper.shop.GoodsProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wayn.common.core.domain.shop.GoodsProduct">
        <result column="id" property="id"/>
        <result column="goods_id" property="goodsId"/>
        <result column="specifications" property="specifications"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="price" property="price"/>
        <result column="number" property="number"/>
        <result column="default_selected" property="defaultSelected"/>
        <result column="url" property="url"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        select id,
        goods_id, specifications, price, number, default_selected, url, create_time, update_time, del_flag
        from shop_goods_product
    </sql>

    <update id="addStock">
        update shop_goods_product
        set number = number + #{number}, update_time = now()
        where id = #{productId}
    </update>

    <update id="reduceStock">
        update shop_goods_product set number = number - #{number} where id = #{productId} and number - #{number} >= 0
    </update>

</mapper>
