<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wayn.common.core.mapper.shop.GoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="ShopGoodsResult" type="com.wayn.common.core.domain.shop.Goods">
        <result column="id"                 property="id" />
        <result column="goods_sn"           property="goodsSn" />
        <result column="name"               property="name" />
        <result column="category_id"        property="categoryId" />
        <result column="brand_id"           property="brandId" />
        <result column="gallery"            property="gallery" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="keywords"           property="keywords" />
        <result column="brief"              property="brief" />
        <result column="is_on_sale"         property="isOnSale" />
        <result column="sort"               property="sort" />
        <result column="pic_url"            property="picUrl" />
        <result column="share_url"          property="shareUrl" />
        <result column="is_new"             property="isNew" />
        <result column="is_hot"             property="isHot" />
        <result column="unit"               property="unit" />
        <result column="counter_price"      property="counterPrice" />
        <result column="retail_price"       property="retailPrice" />
        <result column="actual_sales"       property="actualSales" />
        <result column="virtual_sales"      property="virtualSales" />
        <result column="detail"             property="detail" />
        <result column="create_time"        property="createTime" />
        <result column="update_time"        property="updateTime" />
        <result column="del_flag"           property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="selectGoodsVo">
        select id,
        goods_sn, name, category_id, brand_id, gallery, keywords, brief, is_on_sale, sort, pic_url,
        share_url, is_new, is_hot, unit, counter_price, retail_price, detail, actual_sales, virtual_sales,
        create_time, update_time, del_flag
        from shop_goods
    </sql>

    <sql id="goods_info">
        select id,
               goods_sn, name, category_id, brand_id, keywords, brief, is_on_sale, sort, pic_url,
               share_url, is_new, is_hot, unit, counter_price, retail_price, actual_sales, virtual_sales,
               create_time, update_time, del_flag
        from shop_goods
    </sql>

    <select id="selectGoodsListPage" resultMap="ShopGoodsResult">
        <include refid="goods_info"/>
        <where>
            del_flag = 0
            and is_on_sale = 1
            <if test="goods.id != null">
                AND id like concat('%', #{goods.id}, '%')
            </if>
            <if test="goods.goodsSn != null and goods.goodsSn != ''">
                AND goods_sn like concat('%', #{goods.goodsSn}, '%')
            </if>
            <if test="goods.name != null and goods.name != ''">
                AND name like concat('%', #{goods.name}, '%')
            </if>
            <if test="goods.startTime != null and goods.startTime != ''">
                AND DATE_FORMAT(create_time,'%Y-%m-%d') <![CDATA[ >= ]]> DATE_FORMAT(#{goods.startTime},'%Y-%m-%d')
            </if>
            <if test="goods.endTime != null and goods.endTime != ''">
                AND DATE_FORMAT(create_time,'%Y-%m-%d') <![CDATA[ <= ]]> DATE_FORMAT(#{goods.endTime},'%Y-%m-%d')
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectGoodsListPageByl2CateId" resultMap="ShopGoodsResult">
        <include refid="goods_info"/>
        <where>
            del_flag = 0
            and is_on_sale = 1
            <if test="cateList != null and cateList.size() > 0" >
                and category_id in
                <foreach collection="cateList" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                </foreach>
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="searchResult" resultMap="ShopGoodsResult">
        <include refid="goods_info"/>
        <where>
            del_flag = 0
            and is_on_sale = 1
            <if test="searchVO.keyword != null and searchVO.keyword != ''">
                AND (name like concat('%', #{searchVO.keyword}, '%') OR keywords like concat('%', #{searchVO.keyword}, '%'))
            </if>
            <if test="searchVO.isNew != null and searchVO.isNew == true">
                order by is_new desc
            </if>
            <if test="searchVO.isHot != null and searchVO.isHot == true">
                order by is_hot desc
            </if>
        </where>
    </select>

    <select id="selectColumnBindGoodsListPage" resultMap="ShopGoodsResult">
        <include refid="goods_info"/>
        <where>
            del_flag = 0
            and is_on_sale = 1
            <if test="goods.goodsSn != null and goods.goodsSn != ''">
                AND goods_sn like concat('%', #{goods.goodsSn}, '%')
            </if>
            <if test="goods.name != null and goods.name != ''">
                AND name like concat('%', #{goods.name}, '%')
            </if>
            <if test="columnGoodsIds.size() > 0">
                and id in
                (
                <foreach collection="columnGoodsIds" item="columnGoodsId" separator=",">
                    #{columnGoodsId}
                </foreach>
                )
            </if>
        </where>
    </select>

    <select id="selectColumnUnBindGoodsListPage" resultMap="ShopGoodsResult">
        <include refid="goods_info"/>
        <where>
            del_flag = 0
            and is_on_sale = 1
            <if test="goods.goodsSn != null and goods.goodsSn != ''">
                AND goods_sn like concat('%', #{goods.goodsSn}, '%')
            </if>
            <if test="goods.name != null and goods.name != ''">
                AND name like concat('%', #{goods.name}, '%')
            </if>
            <if test="columnGoodsIds.size() > 0">
                and id not in
                (
                <foreach collection="columnGoodsIds" item="columnGoodsId" separator=",">
                    #{columnGoodsId}
                </foreach>
                )
            </if>
        </where>
    </select>

    <select id="selectHomeIndex" resultMap="ShopGoodsResult">
        <include refid="goods_info"/>
        <where>
            del_flag = 0
            and is_on_sale = 1
            <if test="isNew == true">
                and is_new = #{isNew}
            </if>
            <if test="isHot == true">
                and is_hot = #{isHot}
            </if>
            order by create_time desc limit 10
        </where>
    </select>

    <select id="selectColumnGoodsPage" resultMap="ShopGoodsResult">
        <include refid="goods_info"/>
        <where>
            del_flag = 0
            AND is_on_sale = 1
            AND id in ( SELECT goods_id FROM shop_column_goods_relation r WHERE r.column_id = #{columnId} )
        </where>
        order by create_time desc
    </select>
</mapper>
