<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wayn.common.core.mapper.shop.KeywordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="ShopKeywordResult" type="com.wayn.common.core.domain.shop.Keyword">
        <result column="id"             property="id" />
        <result column="keyword"        property="keyword" />
        <result column="jump_type"      property="jumpType" />
        <result column="url"            property="url" />
        <result column="is_hot"         property="isHot" />
        <result column="is_default"     property="isDefault" />
        <result column="sort_order"     property="sortOrder" />
        <result column="create_time"    property="createTime" />
        <result column="update_time"    property="updateTime" />
        <result column="del_flag"       property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="selectKeywordVo">
        select id,
        keyword, jump_type, url, is_hot, is_default, sort_order, create_time, update_time, del_flag
        from shop_keyword
    </sql>
    <select id="selectKeywordListPage" resultType="com.wayn.common.core.domain.shop.Keyword">
        <include refid="selectKeywordVo"/>
        <where>
            del_flag = 0
            <if test="keyword != null and keyword != ''">
                AND keyword like concat('%', #{keyword}, '%')
            </if>
            <if test="is_hot != null">
                AND is_hot = #{isHot}
            </if>
            <if test="is_default != null">
                AND is_default = #{isDefault}
            </if>
        </where>
        order by sort_order desc, create_time desc

    </select>

</mapper>
