<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wayn.common.core.mapper.shop.KeywordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="ShopKeywordResult" type="com.wayn.common.core.domain.shop.Keyword">
        <result column="id"             property="id" />
        <result column="keyword"        property="keyword" />
        <result column="jump_type"      property="jumpType" />
        <result column="url"            property="url" />
        <result column="is_hot"         property="isHot" />
        <result column="is_default"     property="isDefault" />
        <result column="sort"           property="sort" />
        <result column="create_time"    property="createTime" />
        <result column="update_time"    property="updateTime" />
        <result column="del_flag"       property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="selectKeywordVo">
        select id,
        keyword, jump_type, url, is_hot, is_default, sort, create_time, update_time, del_flag
        from shop_keyword
    </sql>

    <select id="selectKeywordListPage" resultType="com.wayn.common.core.domain.shop.Keyword">
        <include refid="selectKeywordVo"/>
        <where>
            del_flag = 0
            <if test="keyword.keyword != null and keyword.keyword != ''">
                AND keyword like concat('%', #{keyword.keyword}, '%')
            </if>
            <if test="keyword.isHot != null">
                AND is_hot = #{keyword.isHot}
            </if>
            <if test="keyword.isDefault != null">
                AND is_default = #{keyword.isDefault}
            </if>
            <if test="keyword.startTime != null and keyword.startTime != ''">
                AND DATE_FORMAT(create_time,'%Y-%m-%d') <![CDATA[ >= ]]> DATE_FORMAT(#{keyword.startTime},'%Y-%m-%d')
            </if>
            <if test="keyword.endTime != null and keyword.endTime != ''">
                AND DATE_FORMAT(create_time,'%Y-%m-%d') <![CDATA[ <= ]]> DATE_FORMAT(#{keyword.endTime},'%Y-%m-%d')
            </if>
        </where>
        order by sort asc, id desc

    </select>

</mapper>
