<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wayn.common.core.mapper.shop.MemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="ShopMemberResult" type="com.wayn.common.core.domain.shop.Member">
        <result column="id"                 property="id" />
        <result column="password"           property="password" />
        <result column="gender"             property="gender" />
        <result column="birthday"           property="birthday"/>
        <result column="email"              property="email"/>
        <result column="last_login_time"    property="lastLoginTime"/>
        <result column="last_login_ip"      property="lastLoginIp" />
        <result column="user_level"         property="userLevel" />
        <result column="nickname"           property="nickname" />
        <result column="mobile"             property="mobile" />
        <result column="avatar"             property="avatar" />
        <result column="weixin_openid"      property="weixinOpenid" />
        <result column="session_key"        property="sessionKey" />
        <result column="status"             property="status" />
        <result column="create_time"        property="createTime" />
        <result column="update_time"        property="updateTime" />
        <result column="del_flag"           property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="selectMemberVo">
        select id,
        password, gender, birthday, email, last_login_time, last_login_ip, user_level, nickname, mobile, avatar, weixin_openid, session_key, status, create_time, update_time, del_flag
        from shop_member
    </sql>

    <select id="selectMemberListPage" resultMap="ShopMemberResult">
        <include refid="selectMemberVo"/>
        <where>
            del_flag = 0
            <if test="member.id != null">
                AND id like concat('%', #{member.id}, '%')
            </if>
            <if test="member.status != null">
                AND status = #{member.status}
            </if>
            <if test="member.startTime != null and member.startTime != ''">
                AND DATE_FORMAT(create_time,'%Y-%m-%d') <![CDATA[ >= ]]> DATE_FORMAT(#{member.startTime},'%Y-%m-%d')
            </if>
            <if test="member.endTime != null and member.endTime != ''">
                AND DATE_FORMAT(create_time,'%Y-%m-%d') <![CDATA[ <= ]]> DATE_FORMAT(#{member.endTime},'%Y-%m-%d')
            </if>
            order by create_time desc
        </where>
    </select>
</mapper>
