<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wayn.common.core.mapper.shop.ShopMemberCouponMapper">

    <resultMap id="BaseResultMap" type="com.wayn.common.core.entity.shop.ShopMemberCoupon">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="couponId" column="coupon_id" jdbcType="BIGINT"/>
            <result property="discount" column="discount" jdbcType="INTEGER"/>
            <result property="min" column="min" jdbcType="INTEGER"/>
            <result property="useStatus" column="use_status" jdbcType="TINYINT"/>
            <result property="usedTime" column="used_time" jdbcType="TIMESTAMP"/>
            <result property="orderId" column="order_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,title,
        coupon_id,discount,min,
        use_status,used_time,order_id,
        create_time,update_time,del_flag
    </sql>
</mapper>
