[mysqld]

max_connections = 1000
max_connect_errors = 200

character_set_server = utf8mb4

slow_query_log = 1
slow_query_log_file = slow.log
long_query_time = 10
min_examined_row_limit = 100
log-queries-not-using-indexes
log_throttle_queries_not_using_indexes = 10
log_timestamps = system
